<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OfficeMergerCS.omSet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OfficeMergerCS.omSet>
            <setting name="ListBoxSetting" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>B3</string>
                        <string>B4</string>
                        <string>B5</string>
                        <string>B6</string>
                        <string>B7</string>
                        <string>B8</string>
                        <string>B9</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MainRangeSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="MainRangeStartSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="MainRangeEndSetting" serializeAs="String">
                <value />
            </setting>
        </OfficeMergerCS.omSet>
    </userSettings>
</configuration>